.calendar-view {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.calendar-view h2 {
  font-size: 1.25rem;
  margin-bottom: 16px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.calendar-cell {
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #1e3a8a;
  background-color: #fff;
  color: #1e3a8a;
  font-weight: 600;
  /* width: px; */
}

.calendar-cell.active {
  background-color: #1e3a8a;
  color: white;
  font-weight: 500;
}
