.dashboard-main-content {
  padding: 8px 16px;
  flex: 1;
  width: 100%;
  background-color: #f1f5f9;
  overflow-y: auto;
}

.top-section {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.bottom-section {
  display: flex;
  /* flex-direction: column; */
  gap: 24px;
  margin-top: 15px;
}

.anatomy-and-cards {
  display: flex;
  gap: 24px;
  flex: 2;
}

.calendar-container {
  flex: 1;
  min-width: 300px;
}

@media (max-width: 768px) {
  .top-section {
    flex-direction: column;
  }
  .anatomy-and-cards {
    flex-direction: column;
  }
}
