.sidebar {
  width: 220px;
  background-color: #9aabd7;
  color: white;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.sidebar-section {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.section-title {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  color: #1e3a8a;
}
.sidebar-text {
  padding-left: 5px;
}
.healthcare-image {
  height: 40px;
  max-width: 50px;
  position: relative;
  right: 7px;
  /* filter: invert(100%); */
}
.health-title {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  color: #6b2c91;
}
.health-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar h1 {
  font-size: 1.75rem;
  margin-bottom: 32px;
  color: #38bdf8;
}

.nav-section {
  margin-bottom: 24px;
}

.nav-section h2 {
  font-size: 0.85rem;
  margin-bottom: 8px;
  color: #94a3b8;
  text-transform: uppercase;
}

.nav-section ul {
  list-style: none;
  padding: 0;
}

.nav-section li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.nav-section li.active,
.nav-section li:hover {
  background-color: #1e293b;
}
.sidebar-link {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-top: 5px;
}

.sidebar-link.active {
  background-color: white;
  border-left: 4px solid #1e3a8a;
  font-weight: 500;
  color: #1e3a8a;
}
